@charset "EUC-KR";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
 	* {
 		font-family: 'Noto Sans KR', sans-serif !important;
 	}
 	
 	/* 버튼 색상 */
  	:root {
  --button-color: #ffffff;
  --button-bg-color: #4e73df;
  --button-hover-bg-color: #025ce2;
}
   input[type='button'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--button-bg-color);
  color: var(--button-color);
  margin: 0;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  display: inline-block;
  width: auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: 0.5s;
}
.success {
  --button-bg-color: #28a745;
  --button-hover-bg-color: #218838;
}

/* INPUT 모양 */
.item input[type='text'], .item select {
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid rgba(69, 94, 234, 0.3);
    cursor: pointer;
    height: 35px;
    font-size: 13px;
    margin-bottom: 5px;
}
  
 		/* 테이블 스크롤 열 고정 */
table tbody td {
  		min-width: 100px;
}
table{
  border-collapse: separate;
  border-spacing: 0;
  width: 800px;
  font-color: #000 !important;
}
table th{
  background-color: #888; 
  height: 10px; 
  color: #fff;
  border-right: 1px solid #f6f6f6; 
  border-bottom: 1px solid #f6f6f6;
}
table th:last-child{
  border-right: 0;
}
/*sticky 적용*/
table th:first-child{
  position: -webkit-sticky; 
  position: sticky; 
  left: 0;
}



table td{
  background-color: #fff; 
  border-right: 1px solid #f6f6f6; 
  border-bottom: 1px solid #f6f6f6;
  padding: 5px;
  font-size: 13px !important;
  color: #000 !important;
  /* text-align: center; */
}
/*sticky 적용*/
table td:first-child{
  background-color: #c8c8c8;
  position: -webkit-sticky; 
  position: sticky; 
  left: 0;
  z-index: 10 !important;
}
table td:last-child{
  border-right: 0;
}

.btnWitch {
	position:relative;
	left:63px;
}

#dataTable_paginate {
    position: fixed !important;
    top: 778px;
    right: 30px;
}
div.dataTables_wrapper div.dataTables_filter {
    position: fixed;
    top: 250px;
  		right: 30px	
}
#dataTable_length {
	margin-top:10px;
	margin-bottom:-10px;
}

/* 테이블 터치 좌우 스크롤 하기 */	
.itemss {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  /* transition: all 0.2s; */
 /* transform: scale(0.98); */
 /* will-change: transform; */
  background: rgba(255,255,255,0.1);
}

.itemss.active {
  background: rgba(255,255,255,0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.itemz:nth-child(even) { transform: scaleX(1.31) rotateY(40deg); }

 	.card-body {
 		padding: 0;
 	}